h1{
    display: flex;
    justify-content: center;
}

body{
    position:relative;
    padding-bottom: 100px;
    min-height: 98.4vh;
    overflow-x:hidden
    
}

.cardcontainer {
    display: flex;
    justify-content: center;
    
    
} 

.card{
    background-color: rgba(224, 234, 243, 0.637);
}

.navbar {
    padding: 0;
    
}

